.Grid
  display flex
  flex-direction: column
  gap 1px
  background-color: black
  border 1px solid black

  .row
    flex 0 0
    display flex
    flex-direction: row
    align-items: center
    gap 1px
